
#///////////////////////////
# Cocos Creator 3D Project
#///////////////////////////
library/
temp/
local/
build/
docs/
profiles/
native
#//////////////////////////
# NPM
#//////////////////////////
node_modules/

# Markdown notes and documentation
*.md

#//////////////////////////
# VSCode
#//////////////////////////
.vscode/

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/
